@font-face {
	font-family: "常规方正小标体";
	src: url(../fonts/normal/方正小标宋_GBK.ttf);
}
@font-face {
	font-family: "蝴蝶特效围绕体";
	src: url(../fonts/PlentyDecoration/心不合身.ttf);
}
@font-face {
	font-family: "钻石闪光甜心特效围绕体";
	src: url(../fonts/PlentyDecoration/钻石甜心手机字体.ttf);
}
@font-face {
	font-family: "闪光爱心特效围绕体";
	src: url(../fonts/PlentyDecoration/最新版心形中文甜妞体智能机专用.ttf);
}
@font-face {
	font-family: "方正超粗黑简体";
	src: url(../fonts/strong/方正超粗黑简体.ttf);
}
@font-face {
	font-family: "方正粗活意简体";
	src: url(../fonts/strong/方正粗活意简体.ttf);
}
@font-face {
	font-family: "方正劲黑";
	src: url(../fonts/strong/造字工房劲黑常规体.ttf);
}
@font-face {
	font-family: "方正剪纸简体";
	src: url(../fonts/strong/方正剪纸简体.ttf);
}
@font-face {
	font-family: "方正流行体简体";
	src: url(../fonts/strong/方正流行体简体.ttf);
}
@font-face {
	font-family: "方正呐喊体";
	src: url(../fonts/strong/方正呐喊体.ttf);
}
@font-face {
	font-family: "方正喵呜体";
	src: url(../fonts/normal/方正喵呜体.ttf);
}
@font-face {
	font-family: "汉仪黛玉体";
	src: url(../fonts/normal/汉仪黛玉体简.ttf);
}